main {
  box-sizing: border-box;
  width: 100vw;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(650px, 1fr));
}

.profile-card {
  margin: 1rem;
  display: grid;
  grid-template-rows: 50px 205px 48px;
  grid-template-columns: 58px 50px 175px 350px;
  grid-template-areas:
    "pic pic pic name"
    "pic pic pic text"
    "gh li . text"
}

.profile-card h2 {
  font-family: 'Roboto', sans-serif;
  grid-area: name;
  font-size: 2.5rem;
}

.profile-picture {
  grid-area: pic;
  border-radius: 8px;
  opacity: 90%;
}

.linkedin-logo {
  grid-area: li;
}

.github-logo {
  grid-area: gh;
  margin-right: 8px;
}

.profile-text {
  grid-area: text;

}

.profile-text,
.profile-text * {
  font-family: 'Roboto', sans-serif;
  line-height: 1.3em;
}

ul {
  list-style-type: circle;
  list-style-position: outside;
  margin-left: 1em;
  margin-top: 10px;
  margin-bottom: 30px;
}

li {
  margin-bottom: 1em;
}

.icon {
  background-color: #aaaaaa;
  border-radius: 4px;
  opacity: 90%;
}

.icon:hover {
  background-color: #cccccc;
  opacity: 100%;
}