.start-screen,
.game-over-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.game-over-screen form,
.game-over-screen label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-over-screen h2 {
  font-size: 2rem;
}

.game-over-screen label {
  font-size: 1.5rem;
}

.initials-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}

.input-initial {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #cccccc;
  text-transform: uppercase;
  color: #cccccc;
  font-size: 3rem;
  width: 1em;
  text-decoration: underline;
  overflow: visible;
  margin: 0 .2em;
}

.game-over-screen button {
  margin: 10px 0;
}

.start-screen .banner-invader {
  margin: 25px 25px;
}


.start-screen * {
  margin: 10px 0px;
}

.start-screen h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 45px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 125px;
}

.menu-options li:hover {
  list-style-image: url('../assets/invader-green_2px.png');
}

.menu-option {
  width: 250px;
  height: 75px;
  font-size: 1.2rem;
  border: none;
  background-color: transparent;
  color: #cccccc;
  text-decoration: none;
  text-align: center;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  cursor: default;
}

.game-screen {
  box-sizing: border-box;
  width: 800px;
  height: 600px;
  background-color: #121212;
  position: relative;
}

.player {
  position: absolute;
  bottom: 5px;
}

.score-banner {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
}

.hidden {
  display: none;
}