body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  color: #cccccc
}

body>* {
  font-family: 'Press Start 2P', cursive;
}

header,
main,
footer {
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
}

.back-button {
  background-color: #242424;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
}

a,
a:visited {
  color: #cccccc;
  text-decoration: none;
  background-color: #363636;
}

.score-container {
  user-select: none;
}

/* 
.invader {
  position: absolute;
} */

/* .spaceship {
  width: 6%;
  position: absolute;
  bottom: 1%; */
/* transition-property: transform; */
/* transition-duration: 2s; */
/* } */

/* .spaceship-canvas {
  height: 100px;
  width: 100px;
} */

footer {
  margin-top: auto;
}