body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  color: #cccccc
}

body * {
  font-family: 'Press Start 2P', cursive;
}

header,
main,
footer {
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
}

a,
a:visited {
  color: #cccccc;
  text-decoration: none;
  background-color: transparent;
}

.button {
  cursor: pointer;
  color: #cccccc;
  border: none;
  background-color: #121212;
  font-size: 1.5rem;
  padding: 1rem;
  text-decoration: none;
}

.button:hover {
  background-color: #181818;
}


.score-container {
  user-select: none;
}

kbd {
  border-radius: 3px;
  padding: 1px 2px 0;
  border: 1px solid #cccccc;
}

.instructions {
  margin: 15px 0px;
  border: 1px solid #181818;
  font-size: .8rem;
  width: max-content;
 }

.instructions>* {
  margin: 15px 10px;
}

.instructions li {
  margin: 10px 0px;
}